.main{
    /* screen height minus height of header */
    max-height: calc(100vh - 1em);
    min-height: calc(100vh - 1em);
    overflow-y: scroll;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {}

/* DESK RULES */
@media screen and ( min-width: 700px) {}